{% extends "base.html" %}

{% block content %}
            <!--  header end -->	
            <!-- wrapper -->	
            <div id="wrapper">
                <!--  content--> 
                <div class="content">
                    <!--  carousel--> 
                    <div class="list-single-carousel-wrap fl-wrap" id="sec1">
                        <div class="fw-carousel fl-wrap full-height lightgallery">
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="{{object.images.url}}"   alt="">
                                    <a href="images/all/single/9.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="images/all/single/8.jpg"   alt="">
                                    <a href="images/all/single/8.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="images/all/single/7.jpg"   alt="">
                                    <a href="images/all/single/7.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="images/all/single/10.jpg"   alt="">
                                    <a href="images/all/single/10.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="images/all/single/11.jpg"   alt="">
                                    <a href="images/all/single/11.jpg" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                        </div>
                        <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
                        <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                    <!--  carousel  end--> 
                    <div class="scroll-nav-wrapper fl-wrap">
                        <div class="container">
                            <nav class="scroll-nav scroll-init">
                                <ul>
                                    <li><a class="act-scrlink" href="#sec1">Gallery</a></li>
                                    <li><a href="#sec2">Details</a></li>
                                    <li><a href="#sec3">Video </a></li>
                                    <li><a href="#sec4">Reviews</a></li>
                                </ul>
                            </nav>
                            <a href="#" class="save-btn"> <i class="fa fa-heart"></i> Save </a>
                        </div>
                    </div>
                    <!--  section   --> 
                    <section class="gray-section no-top-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- list-single-main-wrapper -->
                                    <div class="list-single-main-wrapper fl-wrap" id="sec2">
                                        <div class="breadcrumbs gradient-bg  fl-wrap"><a href="#">Home</a><a href="#">Listings</a><span>Listing Single</span></div>
                                        <!-- list-single-header -->
                                        <div class="list-single-header list-single-header-inside fl-wrap">
                                            <div class="container">
                                                <div class="list-single-header-item">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="list-single-header-item-opt fl-wrap">
                                                                <div class="list-single-header-cat fl-wrap">
                                                                    <a href="#">{{object.house_type}}</a>
                                                                </div>
                                                            </div>
                                                            <h2>{{object.adtitle}}<span> - Hosted By </span><a href="author-single.html">{{object.owner.username}}</a> </h2>
                                                            <span class="section-separator"></span>
                                                            <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                                                <span>(11 reviews)</span>
                                                            </div>
                                                            <div class="list-post-counter single-list-post-counter"><span>4</span><i class="fa fa-heart"></i></div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="fl-wrap list-single-header-column">
                                                                <span class="viewed-counter"><i class="fa fa-money"></i> Price -  {{object.price}} $ Per Night</span>
                                                                <a class="custom-scroll-link" href="#sec5"><i class="fa fa-hand-o-right"></i>Add Review </a>
                                                                <div class="share-holder hid-share">
                                                                    <div class="showshare"><span>Share </span><i class="fa fa-share"></i></div>
                                                                    <div class="share-container  isShare"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- list-single-header end -->
                                        <div class="list-single-facts fl-wrap gradient-bg">
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fa fa-home"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            <div class="num" data-content="0" data-num={{object.no_bedrooms}}>0</div>
                                                        </div>
                                                    </div>
                                                    <h6>Bed Rooms</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts  -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fa fa-bed"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            <div class="num" data-content="0" data-num={{object.no_beds}}>0</div>
                                                        </div>
                                                    </div>
                                                    <h6>Number of Beds</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts  -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fa fa-bath"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            <div class="num" data-content="0" data-num={{object.no_baths}}>0</div>
                                                        </div>
                                                    </div>
                                                    <h6>Number of Baths</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->                            
                                        </div>
                                        <div class="list-single-main-item fl-wrap">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>About Hotel </h3>
                                            </div>
                                            <p>{{object.description}}</p>
                                         
                                            <a href="#" class="btn transparent-btn float-btn">Visit Website <i class="fa fa-angle-right"></i></a>
                                            <span class="fw-separator"></span>
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Amenities</h3>
                                            </div>
                                            <div class="listing-features fl-wrap">
                                           
                                                <ul>
                                                  
                                                    {% if object.wifi %}
                                                    <li><i class="fa fa-wifi"></i> Free Wi Fi</li>
                                                    {% endif %}
                                                    {% if object.parking %}
                                                    <li><i class="fa fa-motorcycle"></i> Free Parking</li>
                                                    {%endif %}
                                                    {% if object.essential%}
                                                    <li><i class="fa fa-cutlery"></i> Essentials</li>
                                                    {%endif%}
                                                    {% if object.shampoo%}
                                                    <li><i class="fa fa-spray-can"></i>Shampoo</li>
                                                    {%endif%}
                                                    {% if object.closet%}
                                                    <li><i class="fa fa-paw"></i> Closet</li>
                                                    {% endif %}
                                                    {% if object.fire_extinguisher%}
                                                    <li><i class="fa fa-fire-extinguisher"></i> Fire Extinguisher</li>
                                                    {% endif %}
                                                    {% if object.tv%}
                                                    <li><i class="fa fa-tv"></i> TV</li>
                                                    {% endif %}
                                                    {% if object.laundry%}
                                                    <li><i class="fa fa-trash"></i> Laundry</li>
                                                    {% endif %}
                                                    {% if object.pool%}
                                                    <li><i class="fas fa-swimmer"></i> Pool</li>
                                                    {% endif %}
                                                    {% if object.gym%}
                                                    <li><i class="fa fa-dumbbell"></i>Gym</li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <span class="fw-separator"></span>
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Tags</h3>
                                            </div>
                                            <div class="list-single-tags tags-stylwrap">
                                                <a href="#">Hotel</a>
                                                <a href="#">Hostel</a>
                                                <a href="#">Room</a>
                                                <a href="#">Spa</a>
                                                <a href="#">Restourant</a>
                                                <a href="#">Parking</a>                                                                               
                                            </div>
                                        </div>
                                        <!-- list-single-main-item-->   
                                       
                                        <!-- list-single-main-item -->   
                                        <div class="list-single-main-item fl-wrap" id="sec4">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Item Revies -  <span> 3 </span></h3>
                                            </div>
                                            <div class="reviews-comments-wrap">
                                                <!-- reviews-comments-item -->  
                                                <div class="reviews-comments-item">
                                                    <div class="review-comments-avatar">
                                                        <img src="images/avatar/1.jpg" alt=""> 
                                                    </div>
                                                    <div class="reviews-comments-item-text">
                                                        <h4><a href="#">Jessie Manrty</a></h4>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                                        <div class="clearfix"></div>
                                                        <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                                                        <span class="reviews-comments-item-date"><i class="fa fa-calendar-check-o"></i>27 May 2018</span>
                                                    </div>
                                                </div>
                                                <!--reviews-comments-item end-->  
                                                <!-- reviews-comments-item -->  
                                                <div class="reviews-comments-item">
                                                    <div class="review-comments-avatar">
                                                        <img src="images/avatar/2.jpg" alt=""> 
                                                    </div>
                                                    <div class="reviews-comments-item-text">
                                                        <h4><a href="#">Mark Rose</a></h4>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                                                        <div class="clearfix"></div>
                                                        <p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. "</p>
                                                        <span class="reviews-comments-item-date"><i class="fa fa-calendar-check-o"></i>12 April 2018</span>
                                                    </div>
                                                </div>
                                                <!--reviews-comments-item end--> 
                                                <!-- reviews-comments-item -->  
                                                <div class="reviews-comments-item">
                                                    <div class="review-comments-avatar">
                                                        <img src="images/avatar/3.jpg" alt=""> 
                                                    </div>
                                                    <div class="reviews-comments-item-text">
                                                        <h4><a href="#">Adam Koncy</a></h4>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                                        <div class="clearfix"></div>
                                                        <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus. Cras metus neque, gravida sodales massa ut. "</p>
                                                        <span class="reviews-comments-item-date"><i class="fa fa-calendar-check-o"></i>03 December 2017</span>
                                                    </div>
                                                </div>
                                                <!--reviews-comments-item end-->                                                                  
                                            </div>
                                        </div>
                                        <!-- list-single-main-item end -->   
                                        <!-- list-single-main-item -->   
                                        <div class="list-single-main-item fl-wrap" id="sec5">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Add Revies  & Rate iteam</h3>
                                            </div>
                                            <!-- Add Review Box -->
                                            <div id="add-review" class="add-review-box">
                                                <div class="leave-rating-wrap">
                                                    <span class="leave-rating-title">Your rating  for this listing : </span>
                                                    <div class="leave-rating">
                                                        <input type="radio" name="rating" id="rating-1" value="1"/>
                                                        <label for="rating-1" class="fa fa-star-o"></label>
                                                        <input type="radio" name="rating" id="rating-2" value="2"/>
                                                        <label for="rating-2" class="fa fa-star-o"></label>
                                                        <input type="radio" name="rating" id="rating-3" value="3"/>
                                                        <label for="rating-3" class="fa fa-star-o"></label>
                                                        <input type="radio" name="rating" id="rating-4" value="4"/>
                                                        <label for="rating-4" class="fa fa-star-o"></label>
                                                        <input type="radio" name="rating" id="rating-5" value="5"/>
                                                        <label for="rating-5" class="fa fa-star-o"></label>
                                                    </div>
                                                </div>
                                                <!-- Review Comment -->
                                                <form   class="add-comment custom-form">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label><i class="fa fa-user-o"></i></label>
                                                                <input type="text" placeholder="Your Name *" value=""/>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label><i class="fa fa-envelope-o"></i>  </label>
                                                                <input type="text" placeholder="Email Address*" value=""/>
                                                            </div>
                                                        </div>
                                                        <textarea cols="40" rows="3" placeholder="Your Review:"></textarea>
                                                    </fieldset>
                                                    <button class="btn  big-btn  color-bg flat-btn">Submit Review <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                                </form>
                                            </div>
                                            <!-- Add Review Box / End -->
                                        </div>
                                        <!-- list-single-main-item end -->                            
                                    </div>
                                </div>
                                <!--box-widget-wrap -->
                                <div class="col-md-4">
                                    <div class="box-widget-wrap">
                                        <!--box-widget-item -->
                                        
                                        <!--box-widget-item end -->  
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Book a Reservation: </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                        <form class='add-comment custom-form' method='POST' action="{% url 'house:book' %}" >
                                                            {% csrf_token %}
                                                        <fieldset>
                                                           
                                                            <fieldset>
                                                                
                                                                <div class="quantity fl-wrap">
                                                                    <span><i class="fa fa-user-plus"></i>Persons : </span>
                                                                    <div class="quantity-item">
                                                                        <input type="button" value="-" class="minus">
                                                                        <input type="text"   id="no_guests" name="no_guests"   title="Qty" class="qty" min="1" max="3" step="1" value="1">
                                                                        <input type="button" value="+" class="plus">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">                               
                                                                        <label><i class="fa fa-calendar-check-o"></i>  </label>
                                                                        <input type="text" name="start" id="start" placeholder="Date" class="datepicker"   data-large-mode="true" data-large-default="true"   value=""/>
                                                                    </div>
                                                                    <div class="col-md-6"> 
                                                                        <label><i class="fa fa-clock-o"></i>  </label>
                                                                        <input type="text" name="stop" id="stop" placeholder="Date" class="datepicker"   data-large-mode="true" data-large-default="true"   value=""/>
                                                                    </div>
                                                                </div>
                                                                <textarea id="extra_info" name="extra_info"  cols="40" rows="3" placeholder="Additional Information:"></textarea>
                                                            </fieldset>
                                                        <button class="btn  big-btn  color-bg flat-btn">Book Now<i class="fa fa-angle-right"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->                                      
                                        <!--box-widget-item -->
                                        <!-- <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Location / Contacts : </h3>
                                            </div>
                                            <div class="box-widget">
                                                <div class="map-container">
                                                    <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781" data-mapTitle="Our Location"></div>
                                                </div>
                                                <div class="box-widget-content">
                                                    <div class="list-author-widget-contacts list-item-widget-contacts">
                                                        <ul>
                                                            <li><span><i class="fa fa-map-marker"></i> Adress :</span> <a href="#">USA 27TH Brooklyn NY</a></li>
                                                            <li><span><i class="fa fa-phone"></i> Phone :</span> <a href="#">+7(123)987654</a></li>
                                                            <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a href="#">AlisaNoory@domain.com</a></li>
                                                            <li><span><i class="fa fa-globe"></i> Website :</span> <a href="#">themeforest.net</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-widget-social">
                                                        <ul>
                                                            <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#" target="_blank" ><i class="fa fa-vk"></i></a></li>
                                                            <li><a href="#" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!--box-widget-item end -->                            
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Hosted by : </h3>
                                            </div>
                                            <div class="box-widget list-author-widget">
                                                <div class="list-author-widget-header shapes-bg-small  color-bg fl-wrap">
                                                    <span class="list-author-widget-link"><a href="author-single.html">{{object.owner.name}}</a></span>
                                                    <img src="{{object.owner.profile.avatar.url}}" alt=""> 
                                                </div>
                                                <div class="box-widget-content">
                                                    <div class="list-author-widget-text">
                                                        <div class="list-author-widget-contacts">
                                                            <ul>
                                                                <li><span><i class="fa fa-phone"></i> Phone :</span> <a href="_{{object.owner.profile.phone}}">{{object.owner.profile.phone}}</a></li>
                                                                <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a href="#">{{object.owner.email}}</a></li>
                                                                <li><span><i class="fa fa-twitter"></i> Twitter:</span> <a href="{{object.owner.profile.twitter}}">Twitter Profile</a></li>
                                                            </ul>
                                                        </div>
                                                        <a href="{%url 'accounts:user_lists' object.owner.username %}" class="btn transparent-btn">View Profile <i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->
                                        
                                        <!--box-widget-item end -->     
                                    </div>
                                </div>
                                <!--box-widget-wrap end -->
                            </div>
                        </div>
                    </section>
                    <!--  section  end--> 
                    <div class="limit-box fl-wrap"></div>
                    <!--  section   --> 
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
            <a class="to-top"><i class="fa fa-angle-up"></i></a>
        {% endblock content%}

<script>
            // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

var $myForm = $('.my-ajax-form')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
        console.log(data)
        console.log(textStatus)
        console.log(jqXHR)
        $myForm.reset(); // reset form data
    }

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    }
})
                
  
        </script>
